.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  &.google-sign-in {
    // background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.timer-btn {
    color: white;
    background-color: green;
  }
  &.stop-btn {
    color: white;
    background-color: red;
  }
  &.reset-btn {
    color: white;
    background-color: #2243B6;
  }
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
