.custom-button {
  //min-width: max-content;
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #212827;
  color: white;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  @media screen and (max-width: 900px){
    width: 125px;
  }

  &.lrg-btn {
    width: 100%;
  }
  &.google-sign-in {
    color: #212827;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.timer-btn {
    color: white;
    background-color: green;
  }
  &.stop-btn {
    color: white;
    background-color: red;
  }
  &.reset-btn {
    color: white;
    background-color: #2243B6;
  }
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
