.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 450px) {
    width: 300px;
  } 
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}