.sign-in {
  width: 500px;
  display: flex;
  flex-direction: column;
  outline: 2px dotted green;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
}
