.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 450px) {
    width: 300px;
  } 

  &_error {
    color: crimson;
    font-style: italic;
    margin: 10px;
  }
}


