.header {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-image: radial-gradient(#30506d, #212827);
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  justify-items: center;
  align-items: center;

    & > * {
      outline: 2px solid white;
    }
    .appLogo {
      font-family: 'Lakki Reddy', cursive;
      color: white;
      font-size: 1.5em;
      display: block;
      margin: 0;
      // padding: 0;
    }

    .signedIn-options {
      display: flex;
      width: 150px;
      justify-content: space-between;
    }

  .option {
      text-decoration: none;
      cursor: pointer;
      color: white;
  }
}