.header {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-image: radial-gradient(#30506d, #212827);
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  justify-items: center;
  align-items: center;

    //& > * { outline: 1px solid white;}
    .logo-wrapper {
      border: 2px solid white;
      padding: 6px 6px 0 6px;
      min-width: 100px;
      .appLogo {
        font-family: 'Lakki Reddy', cursive;
        color: white;
        font-size: 1.5em;
        text-align: center;
        display: block;
        margin: 0 auto;

        @media screen and (max-width: 600px) {
          font-size: 1em;
        }
      }
    }

    .signedIn-options {
      display: flex;
      width: 150px;
      justify-content: space-between;
      margin: 0;
      flex-direction: column;
      height: 100%;
      width: auto;
      @media screen and (max-width: 550px) {
        font-size: .75em;

      }
    }

  .option {
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      color: white;
      text-align: center;
      .account-link {
        font-family: inherit;
      }
  }
}