.account-wrapper {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    position: relative;
}
.please-sign-in {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin: 15px;
}
.table-title {
    margin-bottom: 2.5em;
}
.scores-table {
    width: 100%;
}
th {
    background-color: rgba(198,199,196, .5);
    color: rgb(97, 83, 4);
}
.table-wrapper:nth-child(odd) {
    background-color: #eef0f2;
}

.delete-btn {
    margin-top: 200px;
}

.max-score-msg {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    padding: 0;
    margin-top: 0;
}
