#q-container {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#top, #bottom {
    font-size: 2em;
    font-weight: bolder;
    text-align: right;
}

input { 
    text-align: right; 
    height: 30px;
    width: 100%;
    font-size: 1.5em;
}

#question-wrapper {
    width: 35%;
}
#counter-wrapper {
    width: 65%;
}

#guess-wrapper {
    display: flex;
    flex-direction: column;
}
